.formEnter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.margin10{
    display: flex;
    margin-bottom: 50px;
}


.makeStyles-paper-3 {
    box-shadow: red;
    background-color: rgb(255, 255, 255);
}

.profil-details{
width: 90%;
margin-right: 5%;
}


.logo{
    width: 5em;
    margin: 10px;
    display: flex;
    align-items: flex-start;
    text-align: start;
}
body{
    direction: rtl;
}


